page-register {
ion-title{
    align-content: center;
    text-align: center;
    }
#registerForm{
    align-content: center;
    text-align: center;
    //margin-left:60px;
    margin-top: 20px;
}    
#register{
    align-content: center;
    text-align: center;
}
ion-input{
    color: #488aff;
}
}
