page-contributors {
#close{
    float:left;
    color: whitesmoke;
    margin-top: 5px;
    font-size: 14px;
}
ion-title{
    align-content: center;
    text-align: center;
    margin-top:10px;
}
#date{
    font-size: 12px;
}
}
