page-details {
h5{
    font-weight: bolder;
}
ion-title{
    align-content: center;
    text-align: center;
}
ion-label{
    color: black;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
}
#amountvalue{
    //margin-top: 50px;
}
#pay{
    margin-top: 20px;
    background-color: #076307;
}
#more{
    //margin-left: 0px;
    //font-weight: bolder;
    font-size: 30px;
    background-color: #076307;
    float: right;
    margin-top: -4px;
    color: whitesmoke;
}
}
