page-farmer-details {
ion-title{
    align-content: center;
    text-align: center;
    
}  

ion-item{
border-top: 2px;
border-left: 2px;
border-right: 2px;
border-bottom: 2px;
}
#uname{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 18px;
}
#uemail{
    margin-top: 5px;
    font-size: 12px;
}
#contributors{
    float:right;
    font-weight:bolder;
    width: 20px;
    height:20px;
    color: whitesmoke;
    border-radius: 50%;
    background-color: #076307
    //background-color: #488aff;
}

#image{
    border-radius:0%;
   // overflow:hidden; 
    margin-left: -10px;
    float: left;
    width:100px;
    height:100px;
}
#welcomeMsg{
    text-align: center;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
}
#title{
    //text-align: center;
    //align-content: center;
    //margin-top: 12px;
    float:left;
}
#more{
    font-size: 30px;
    background-color: blue;
    float: right;
    margin-top: -2px;
    color: whitesmoke;
}
#sort{
    float:right;
}
}
