page-farmer-details {
ion-title{
    align-content: center;
    text-align: center;
}  

ion-item{
border-top: 2px;
border-left: 2px;
border-right: 2px;
border-bottom: 2px;
}
#more{
    //margin-left: 0px;
    //font-weight: bolder;
    font-size: 30px;
    background-color: #076307;
    float: right;
    margin-top: -4px;
    color: whitesmoke;
}
}
