<!--
  Generated template for the FarmerDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="farmGreen">
      <ion-title>
        <img id="image" src={{loggedUserImage}} />
        <div id="uname">
          {{loggedUserName}}

        </div>
        <div id="uemail">
          {{mailIdentifier}}
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <button id="list" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">

        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>

<ion-header>

  <ion-navbar color="farmGreen">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      <!--<img id="image" src={{loggedUserImage}} (click)="presentProfileModal($event)" />-->
      <!--<ion-icon id="more" name="log-out" (click)="logout()"></ion-icon>-->

      <div id="title">Home</div>
      <ion-icon id="sort" name="funnel"></ion-icon>
      <!--<div *ng-src="content://com.miui.gallery.open/raw/%2Fstorage%2Femulated%2F0%2FDCIM%2FCamera%2FIMG_20170920_170252.jpg"></div>-->
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- <div id="welcomeMsg">Welcome {{loggedUserName}}  </div>-->
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list *ngFor="let detail of infiniteScrollFdetails; let i = index">
    <table>
      <tr>
        <td width="60%">
          <ion-item (click)="farmerDetails(detail.uid)">
            <ion-avatar item-start>
              <img src="assets/farmer.jpg">
            </ion-avatar>
            <div id="name">{{detail.name}}</div>

            <div>Pending Months: {{detail.pendingmonths}}</div>

            <div>Pending Loan: {{detail.loanamount}}</div>

          </ion-item>
        </td>
        <td id="td">
          <button id="contributors" ion-button icon-left block type="submit" (click)="showContributors(i)">
        {{detail.contributedcount}}  
        </button>
        </td>
      </tr>
    </table>
  </ion-list>
  <!--infinite scroll-->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<!--<ion-nav [root]="rootPage"></ion-nav>-->